.theme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  transition: 0.3s;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #dd1d1d;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}